@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 27% 4%;
    --foreground: 240 83% 97%;
    --card: 240 20% 7%;
    --card-foreground: 240 83% 97%;
    --popover: 240 20% 7%;
    --popover-foreground: 240 83% 97%;
    --primary: 231 100% 68%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 20% 10%;
    --secondary-foreground: 240 83% 97%;
    --muted: 240 20% 10%;
    --muted-foreground: 240 14% 60%;
    --accent: 231 100% 68%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 40% 14%;
    --input: 240 40% 14%;
    --ring: 231 100% 68%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
